.skills-container {
    background-color: var(--bg-purple);
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-header {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem;
    max-width: 80%;
    justify-content: center;
}

.skill-card {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.skill-image {
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 5px;
}
/* 
.card-header {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
} */
